/*!
 * Espressio Uploader form sample stylesheet
 * @copyright Copyright (c) 2012-2016 Espressio Labs Ltd. (https://bitbucket.org/espressio)
 * @author    Sergey Basov (sergey@espressio.ru)
 */

.esp-upl-form {

}

.esp-upl-form.esp-upl-not-supported {

}

.esp-upl-form input[type="file"] {
	outline: none;
}

.esp-upl-progress-box {
	position: relative;
	width: 300px;
	height: 26px;
	margin: 10px 0;
	border: 1px solid #474747;

	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
}

.esp-upl-progress {
	position: absolute;
	z-index: 2;
	width: 0;
	height: 100%;

	background: #EDEDED;
	background: -moz-linear-gradient(top, #EDEDED 0%, #CCC 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #EDEDED), color-stop(100%, #CCC));
	background: -webkit-linear-gradient(top, #EDEDED 0%, #CCC 100%);
	background: -o-linear-gradient(top, #EDEDED 0%, #CCC 100%);
	background: -ms-linear-gradient(top, #EDEDED 0%, #CCC 100%);
	background: linear-gradient(to bottom, #EDEDED 0%, #CCC 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#cccccc', GradientType=0);

	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
}

.esp-upl-percent {
	position: absolute;
	z-index: 4;
	width: 100%;
	height: 100%;

	line-height: 26px;
	text-align: center;
	color: #000;
	text-shadow: 0 0 0 #FFF;
}

.esp-upl-cancel {
	position: absolute;
	z-index: 6;
	width: 16px;
	height: 16px;
	top: 4px;
	right: 4px;

	cursor: pointer;
	border: 1px solid #FFF;

	background: #FF3019;
	background: -moz-linear-gradient(top, #FF3019 0%, #CF0404 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #FF3019), color-stop(100%, #CF0404));
	background: -webkit-linear-gradient(top, #FF3019 0%, #CF0404 100%);
	background: -o-linear-gradient(top, #FF3019 0%, #CF0404 100%);
	background: -ms-linear-gradient(top, #FF3019 0%, #CF0404 100%);
	background: linear-gradient(to bottom, #FF3019 0%, #CF0404 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff3019', endColorstr='#cf0404', GradientType=0);

	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
}

.esp-upl-cancel:hover {
	background: #ED2517;
	background: -moz-linear-gradient(top, #ED2517 0%, #BA1203 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ED2517), color-stop(100%, #BA1203));
	background: -webkit-linear-gradient(top, #ED2517 0%, #BA1203 100%);
	background: -o-linear-gradient(top, #ED2517 0%, #BA1203 100%);
	background: -ms-linear-gradient(top, #ED2517 0%, #BA1203 100%);
	background: linear-gradient(to bottom, #ED2517 0%, #BA1203 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ed2517', endColorstr='#ba1203', GradientType=0);
}

.esp-upl-form.esp-upl-not-supported .esp-upl-progress-box {
	display: none;
}